<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="Parallel tests" parallel="methods" thread-count="1" >-->
<!--    <test name="Test One">-->
<!--        <parameter name="test-name" value="Test One"/>-->
<!--        <classes>-->
<!--            <class name="testng.HealthClinicTestNG" />-->
<!--        </classes>-->
<!--    </test>-->
<!--&lt;!&ndash;    <test name="Test Two">&ndash;&gt;-->
<!--&lt;!&ndash;        <parameter name="test-name" value="Test Two"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.howtodoinjava.parallelism.ParallelSuiteTest" />&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--&lt;!&ndash;    </test>&ndash;&gt;-->
<!--</suite>-->